$color1:#066eb7;
$color2:#0560a1;
$color3:#f08229;
$color4:#de7622;
$color5:#ecf3fb;
$color6:#d7e7f1;

// 按钮
.el-button--primary{
  background-color: $color1 !important;
  border-color: $color1 !important;
  border-radius: 4px !important;
}
.el-button--primary:hover{
  background-color: $color2 !important;
  border-color: $color2 !important;
  border-radius: 4px !important;
}
.el-button--warning{
  background-color: $color3 !important;
  border-color: $color3 !important;
  border-radius: 4px !important;
}
.el-button--warning:hover{
  background-color: $color4 !important;
  border-color: $color4 !important;
  border-radius: 4px !important;
}
.el-button--default{
  background-color: $color5 !important;
  border-color: $color1 !important;
  border-radius: 4px !important;
  color: $color1 !important;
}
.el-button--default:hover{
  background-color: $color6 !important;
  border-color: $color1 !important;
  border-radius: 4px !important;
  color: $color1 !important;
}
// 按钮

// 输入框，select选择框
.el-input__inner:hover {
  border-color: $color1 !important;
}
.el-input__inner:focus {
  border-color: $color2 !important;
}
// 输入框，select选择框

// 单选框
.el-radio__inner:hover {
  border-color: $color1 !important;
}
.el-radio__label:hover{
  color: $color1 !important;
}
.el-radio__input.is-disabled .el-radio__inner:hover{
  border-color: #dcdfe6 !important;
}
.el-radio.is-disabled .el-radio__label:hover{
  color: #c0c4cc !important;
}
.el-radio__input.is-checked .el-radio__inner{
  background-color: $color2 !important;
  border-color: $color2 !important;
}
.el-radio__input.is-checked+.el-radio__label{
  color: $color2 !important;
}
.el-radio.is-bordered.is-checked{
  border-color: $color2 !important;
}
.el-radio:hover{
  border-color: $color1 !important;
}
.el-radio.is-bordered.is-disabled:hover{
  border-color: #ebeef5 !important;
}
.el-radio.is-bordered.is-checked{
  border-width: 2px;
}
// 单选框

