html,
body,
div,
span,
object,
li,
ul,
img iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
em,
img,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
select,
button,
meter,
progress {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, "Microsoft Yahei", sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

i {
  font-style: normal;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  ;
}

a {
  outline: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a {
  color: black;
}

input，textarea {
  outline: none;
  -webkit-appearance: none;
}

/** 重置列表元素 **/

ul,
ol {
  list-style: none;
}

fieldset,
img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */

/* 重置 HTML5 元素 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}

.single-tooltip{
  width: 500px !important;
}

